@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");

.fundo {
  background-image: url("./../assets/fundo.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 90vh;
}

.segundo-fundo {
  background-image: url("./../assets/fundo2.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-app,
.btn-play,
.subtitle,
.text-title {
  font-family: "Montserrat", sans-serif;
  color: #f6f6f6;
  font-size: 24px !important;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0.10000000149011612px;
  text-align: center;
  padding-top: 46px;
}

.subtitle {
  font-weight: 500 !important;
  line-height: 38px;
  padding-top: 20px;
  letter-spacing: 0.20000000298023224px;
}

.btn-appstore,
.btn-playstore {
  font-family: "Montserrat", sans-serif;
  background-color: #fa4a0c;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0.20000000298023224px;
  text-align: left;
  cursor: pointer;
  height: 64px;
  width: 142px;
  left: 0px;
  top: 0px;
  border-radius: 10px;
  padding-top: 18px;
  text-align: center;
}

.btn-appstore {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  width: 176px;
}

.card-title-app,
.title {
  font-family: "Poppins", sans-serif;
  color: #fff;
  font-size: 58px;
  font-style: normal;
  font-weight: 700;
  line-height: 80px;
  letter-spacing: 0.20000000298023224px;
  text-align: center;
}

.card-title-app {
  display: flex;
  justify-content: center;
  font-size: 44px;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: 0.10000000149011612px;
  text-align: left;
  color: #000000;
}

.card-wrapper-app {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
  height: 100px;
}

.subtitle-account,
.title-create {
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 57px;
  letter-spacing: 0.20000000298023224px;
  color: #252b42;
}

.subtitle-account {
  font-size: 24px;
  font-weight: 500;
  line-height: 38px;
  color: #737373;
}

.subtitle-create-mb,
.title-create-mb {
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 57px;
  letter-spacing: 0.20000000298023224px;
  text-align: center;
  color: #fff;
}

.subtitle-create-mb {
  font-size: 24px;
  font-weight: 500;
  line-height: 38px;
}

.card-title {
  display: flex;
  justify-content: center;
  font-size: 44px;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: 0.10000000149011612px;
  text-align: left;
  color: #000000;
}

.card-button {
  display: flex;
  justify-content: center;
}

.card-button-mb {
  display: flex;
  justify-content: space-evenly;
  width: 43%;
}

.btn-play {
  background-color: #fa4a0c;
  border-color: #fa4a0c;
  border-radius: 30px;
  padding-top: 17px;
  font-weight: 700;
  height: 68px;
  width: 236px;
  margin-right: 35px;
  left: 0px;
  top: 0px;
  padding: 16px, 0px, 16px, 0px;
  cursor: pointer;
}

.btn-app {
  background-color: transparent;
  border-color: #fff;
  border: 1px solid #fff;
  padding-top: 17px;
  border-radius: 30px;
  font-weight: 700;
  height: 68px;
  width: 236px;
  left: 0px;
  top: 0px;
  cursor: pointer;
}

.txt-create {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0.10000000149011612px;
  color: #fa4a0c;
}

.session-mob {
  display: none !important;
}

.session-web {
  display: flex;
}

.img-cel {
  width: 302px;
  height: 525px;
  left: 939px;
  top: 78px;
  border-radius: 0px;
}

.card-wrapper {
  display: flex;
  align-items: center;
  flex: 2;
}

.card-wrapper-cel {
  flex: 1;
  display: flex;
  justify-content: center;
}

.card-wrapper-text {
  flex: 1;
}

.card-wrapper-duplo-celular {
  display: flex;
  align-items: center;
  margin-top: -143px;
  flex-flow: column;
}

.line {
  height: 0px;
  width: 884px;
  left: 278px;
  top: 1378.910888671875px;
  border: 3px solid #e4e4e4;
}

.card-fig,
.card-fig-fluid {
  z-index: 20;
  margin-top: -120px;
  /* margin-right: 193px; */
  width: 584px;
}

@media (max-width: 767px) {
  .fundo {
    background-image: none;
    background-color: #fafafa !important;
    border: 1px solid transparent !important;
    height: auto;
  }

  .segundo-fundo {
    background-image: none;
    background-color: #252b42 !important;
  }

  .text-title,
  .subtitle {
    color: #737373;
    font-size: 24px;
  }

  .title {
    font-family: "Montserrat", sans-serif;
    line-height: 43px;
    color: #252b42;
    font-size: 36px;
  }

  .subtitle-account,
  .title-create {
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
  }

  .card {
    border: 1px solid transparent;
  }

  .btn-app {
    color: #fa4a0c;
    border-color: #fa4a0c;
    border-radius: 30px;
    font-size: 24px;
    margin-top: 20px;
    margin-right: 30px;
    width: 236px;
    height: 68px;
    padding: 16px, 0px, 16px, 0px;
  }

  .card-button {
    display: flex;
    align-items: center;
    flex-flow: column;
    margin-top: 50px;
  }

  .card-button-mb {
    width: 90%;
  }

  .subtitle-create-mb,
  .title-create-mb {
    font-family: "Montserrat", sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 57px;
    letter-spacing: 0.20000000298023224px;
    text-align: center;
    color: #fff;
  }

  .subtitle-create-mb {
    font-size: 24px;
    font-weight: 500;
    line-height: 38px;
    letter-spacing: 0.20000000298023224px;
    text-align: center;
    color: #bdbdbd;
  }

  .session-mob {
    display: flex !important;
  }

  .session-web {
    display: none !important;
  }

  .card-fig,
  .card-fig-fluid {
    width: 395px;
    margin-top: 70px;
  }

  .card-wrapper {
    display: flex;
    align-items: center;
    flex-flow: column-reverse;
    flex: 2;
  }

  .card-wrapper-text {
    display: flex;
    align-items: center;
    flex-flow: column;
  }

  .card-wrapper-duplo-celular {
    display: flex;
    align-items: center;
    margin-top: -143px;
    flex-flow: column;
  }

  .line {
    height: 0px;
    width: 414px;
    left: 278px;
    top: 1378.910888671875px;
    border: 3px solid #e4e4e4;
  }

  .card-wrapper-app {
    display: flex;
    flex-flow: column-reverse;
    align-items: center;
    justify-content: space-between;
    height: 100px;
  }

  .card-title-app {
    font-family: "Montserrat", sans-serif;
    display: flex;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 0.10000000149011612px;
    text-align: center;
    color: #000000;
  }
}
