@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");

.fundo {
  background-image: url("./../assets/fundo.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
}

.segundo-fundo {
  background-image: url("./../assets/fundo2.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 516px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-app,
.btn-play,
.subtitle,
.text-title {
  font-family: "Montserrat", sans-serif;
  color: #f6f6f6;
  font-size: 24px !important;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0.10000000149011612px;
  text-align: center;
  padding-top: 46px;
}

.subtitle {
  font-weight: 500;
  line-height: 38px;
  padding-top: 20px;
  letter-spacing: 0.20000000298023224px;
}

.btn-appstore,
.btn-playstore {
  font-family: "Montserrat", sans-serif;
  background-color: #fa4a0c;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0.20000000298023224px;
  text-align: left;
  cursor: pointer;
  height: 64px;
  width: 142px;
  left: 0px;
  top: 0px;
  border-radius: 10px;
  padding-top: 18px;
  text-align: center;
}

.btn-appstore {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  width: 176px;
}

.card-title-app,
.title {
  font-family: "Poppins", sans-serif;
  color: #fff;
  font-size: 58px;
  font-style: normal;
  font-weight: 700;
  line-height: 80px;
  letter-spacing: 0.20000000298023224px;
  text-align: center;
}

.card-title-app {
  display: flex;
  justify-content: center;
  font-size: 44px;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: 0.10000000149011612px;
  text-align: left;
  color: #000000;
}

.card-wrapper-app {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
  height: 100px;
}

.subtitle-account,
.title-create {
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 57px;
  letter-spacing: 0.20000000298023224px;
  color: #252b42;
}

.subtitle-account {
  font-size: 24px;
  font-weight: 500;
  line-height: 38px;
  color: #737373;
}

.subtitle-create-mb,
.title-create-mb {
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 57px;
  letter-spacing: 0.20000000298023224px;
  text-align: center;
  color: #fff;
}

.subtitle-create-mb {
  font-size: 24px;
  font-weight: 500;
  line-height: 38px;
}

.card-title {
  display: flex;
  justify-content: center;
  font-size: 44px;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: 0.10000000149011612px;
  text-align: left;
  color: #000000;
}

.card-button {
  display: flex;
  justify-content: center;
}

.card-button-mb {
  display: flex;
  justify-content: space-evenly;
  width: 43%;
}

.btn-play {
  background-color: #fa4a0c;
  border-color: #fa4a0c;
  border-radius: 30px;
  padding-top: 17px;
  font-weight: 700;
  height: 68px;
  width: 236px;
  margin-right: 35px;
  left: 0px;
  top: 0px;
  padding: 16px, 0px, 16px, 0px;
  cursor: pointer;
}

.btn-app {
  background-color: transparent;
  border-color: #fff;
  border: 1px solid #fff;
  padding-top: 17px;
  border-radius: 30px;
  font-weight: 700;
  height: 68px;
  width: 236px;
  left: 0px;
  top: 0px;
  cursor: pointer;
}

.txt-create {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0.10000000149011612px;
  color: #fa4a0c;
}

.session-mob {
  display: none !important;
}

.session-web {
  display: flex;
  justify-content: center;
}

.figure-img,
.img-cel-fluid {
  width: 302px;
  left: 939px;
  top: 78px;
  border-radius: 0px;
  filter: drop-shadow(50px 30px 150px rgba(46, 4, 4, 0.15));
}

.wrapper-mob,
.card-wrapper {
  display: flex;
  align-items: center;
  flex: 2;
}

.card-wrapper-cel {
  flex: 1;
  display: flex;
  justify-content: center;
}

.card-wrapper-text {
  flex: 1;
  margin-right: 100px;
}

.card-wrapper-duplo-celular {
  display: flex;
  align-items: center;
  flex-flow: column;
}

.card-wrapper-segundo {
  flex: 1;
  margin-left: 140px;
}

.line {
  height: 0px;
  width: 884px;
  left: 278px;
  top: 1378.910888671875px;
  border: 3px solid #e4e4e4;
}

.card-fig,
.card-fig-fluid {
  z-index: 20;
  margin-top: -46%;
  width: 584px;
}
