@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.jumbotron-container {
  background-color: #fff !important;
}

.icons-footer {
  width: 15%;
  display: flex;
  justify-content: space-evenly;
}

span {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0.10000000149011612px;
  text-align: right;
  color: #5c5c5c;
}

.footer-web {
  display: flex;
}

.footer-mob {
  display: none;
}

@media (max-width: 768px) {
  .footer {
    display: flex;
    align-items: center;
    flex-flow: column;
  }

  .icons-footer-mb {
    width: 52%;
    margin-bottom: 12px;
    display: flex;
    justify-content: space-evenly;
  }

  .footer-web {
    display: none;
  }

  .footer-mob {
    display: flex;
  }
}
